<!DOCTYPE html>
<html>
<head>
    <title>Story 7 PPW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script src="{% static "js/main.js" %}"></script>
</head>

<body>
    <div class="container-fluid">
        <button class="btn fixed-bottom m-4" id="change_theme_button">Ganti Tema</button>

        <div class="row align-items-center">
            <div class="mt-3 m-md-3 col-12 col-md-6">
                <img src="{% static 'images/self-photo.png' %}" class="img-fluid float-right" style="width:400px; height:auto;">
            </div>
            
            <div class="p-3 col-12 col-md-5 text-center text-md-left">
                <h1>Hello,</h1>
                <h1>I'm Rocky Arkan</h1>
                <h2>And i loves fun things</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 text-center">
                <div class="accordion p-3">
                    <div class="accordion-header">
                        <h3>Tentang saya</h3>
                    </div>
                    <div class="accordion-content">
                        <h4>Seorang mahasiswa yang mempunyai passion terhadap dunia IT.</h4>
                        <h4>Mencintai dunia pop-culture jepang, dan juga hobi bermain game.</h4>
                    </div>

                    <div class="accordion-header">
                        <h3>Skills</h3>
                    </div>
                    <div class="accordion-content">
                        <h4>Object-oriented Programming (Java & Python)</h4>
                        <h4>Game Development (Unity)</h4>
                        <h4>Japanese Language (JLPT N2)</h4>
                    </div>


                    <div class="accordion-header">
                        <h3>Aktivitas saat ini</h3>
                    </div>
                    <div class="accordion-content">
                        <h4>Mahasiswa aktif Ilmu Komputer di Universitas Indonesia.
                            Saat ini sedang semester 3.</h4>
                    </div>
        
                    <div class="accordion-header">
                        <h3>Pengalaman organisasi</h3>
                    </div>
                    <div class="accordion-content">
                        <h4>Junior Member divisi Game Development di RISTEK 2018</h4>
                    </div>
        
        
                    <div class="accordion-header">
                        <h3>Prestasi</h3>
                    </div>
                    <div class="accordion-content">
                        <h4>gak ada PepeHands</h4>
                    </div>


                </div>
            </div>
        </div>

        <div class="row mt-5 mb-3 align-items-center text-center">
            <div class="col-4">
                <a href="mailto:rocky.arkan@ui.ac.id">
                    <img src="{% static 'images/envelope-regular-white.svg' %}" class="w-25" id="gmail-logo">
                </a>
            </div>
            
            <div class="col-4">
                <a href="https://twitter.com/racendol_">
                    <img src="{% static 'images/twitter-square-brands-white.svg' %}" class="w-25" id="twitter-logo">
                </a>
            </div>

            <div class="col-4">
                <a href="https://github.com/racendol">
                    <img src="{% static 'images/github-square-brands-white.svg' %}" class="w-25" id="github-logo">
                </a>
            </div>


        </div>

    </div>

    <script>
        var gmail_black = "{% static 'images/envelope-regular.svg' %}";
        var gmail_white = "{% static 'images/envelope-regular-white.svg' %}";
        var twitter_black = "{% static 'images/twitter-square-brands.svg' %}";
        var twitter_white = "{% static 'images/twitter-square-brands-white.svg' %}";
        var github_black = "{% static 'images/github-square-brands.svg' %}";
        var github_white = "{% static 'images/github-square-brands-white.svg' %}";
    </script>
</body>