body {
    color: white;
    background-color: #383c4a;
    transition: all 0.3s ease-out;
}

.accordion {
    color: black;
    background-color: #f8f8f8;
    border-radius: 20px;
}

.accordion-content {
    display: none;
}

.accordion-header {
    cursor: pointer;
    background-color: white;
    transition: all 0.3 ease-out;
    border-radius: 20px;
}

.logo {
    fill: white !important;
}

#change_theme_button {
    background-color: white;
}